In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

# RNA Sequences

**TASK**: In the `Data/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10th file that describes the content of each. Use pandas to import the first 9 spreadsheets into a single DataFrame. Then, add the metadata information from the 10th spreadsheet as columns in the combined `DataFrame`. Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

First we load the 9 spreadsheet into a single DataFrame and directly integrate the metadata information.

In [2]:
def load_MIDs(num_list):
    list_dataframes = [pd.read_excel('Data/microbiome/MID{}.xls'.format(str(num)), header=None) for num in num_list]
    
    list_dataframes = [list_dataframes[num-1].rename(index=str, columns={0: 'Taxonomy', 1: 'Count'}) 
                       for num in num_list]
    
    metadata = pd.read_excel('Data/microbiome/metadata.xls')
    
    for num in num_list:
        list_dataframes[num-1]['Barcode'] = [metadata.iloc[num-1].iloc[0]]*len(list_dataframes[num-1]['Count'])
        list_dataframes[num-1]['Group'] = [metadata.iloc[num-1].iloc[1]]*len(list_dataframes[num-1]['Count'])
        list_dataframes[num-1]['Sample'] = [metadata.iloc[num-1].iloc[2]]*len(list_dataframes[num-1]['Count'])
    
    return pd.concat(list_dataframes, ignore_index=True, sort=True)

In [3]:
microbiome_data = load_MIDs(range(1,10))

In [4]:
microbiome_data.head(2)

,Barcode,Count,Group,Sample,Taxonomy
0,MID1,7,EXTRACTION CONTROL,NaN,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro..."
1,MID1,2,EXTRACTION CONTROL,NaN,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro..."

Once the data from all the spreadsheetshas been merged together, `MIDs_data` contains 2396 rows and 5 columns and it has already a unique index:

In [5]:
microbiome_data.tail(2)

,Barcode,Count,Group,Sample,Taxonomy
2394,MID9,1,Control 2,stool,Bacteria Cyanobacteria Cyanobacteria Chloropl...
2395,MID9,10,Control 2,stool,Bacteria Cyanobacteria Cyanobacteria Chloropl...

We replace `NaN` values with `unknown` in the `DataFrame`:

In [6]:
print(microbiome_data.isnull().values.any())

True

In [7]:
microbiome_data.fillna('unknown', inplace=True)

We list here below the data of three random rows of the final `DataFrame`:

In [8]:
microbiome_data.iloc[5]

Barcode                                                  MID1
Count                                                       1
Group                                      EXTRACTION CONTROL
Sample                                                unknown
Taxonomy    Archaea "Euryarchaeota" "Methanomicrobia" Meth...
Name: 5, dtype: object

In [9]:
microbiome_data.iloc[950]

Barcode                                                  MID4
Count                                                      95
Group                                                   NEC 2
Sample                                                 tissue
Taxonomy    Bacteria "Bacteroidetes" "Bacteroidia" "Bacter...
Name: 950, dtype: object

In [10]:
microbiome_data.iloc[2000]

Barcode                                                  MID7
Count                                                       1
Group                                               Control 1
Sample                                                  stool
Taxonomy    Bacteria "Synergistetes" Synergistia Synergist...
Name: 2000, dtype: object

In [11]:
final_dataframe = microbiome_data.set_index(['Barcode', 'Group', 'Sample', 'Taxonomy'])
final_dataframe

                                                                                       Count
Barcode Group              Sample  Taxonomy
MID1    EXTRACTION CONTROL unknown Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      7
                                   Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      2
                                   Archaea "Crenarchaeota" Thermoprotei Sulfolobal...      3
                                   Archaea "Crenarchaeota" Thermoprotei Thermoprot...      3
                                   Archaea "Euryarchaeota" "Methanomicrobia" Metha...      7
                                   Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
                                   Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
                                   Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
                                   Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
                                   Archaea "Euryarchaeota" Halobacteria Halobacter...      1
                                   Archaea "Euryarchaeota" Halobacteria Halobacter...      4
                                   Archaea "Euryarchaeota" Halobacteria Halobacter...      1
                                   Archaea "Euryarchaeota" Halobacteria Halobacter...      2
                                   Archaea "Euryarchaeota" Halobacteria Halobacter...      4
                                   Archaea "Euryarchaeota" Methanococci Methanococ...      1
                                   Archaea "Euryarchaeota" Methanopyri Methanopyra...     12
                                   Archaea "Euryarchaeota" Thermoplasmata Thermopl...      2
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      2
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      1
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      1
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      1
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      2
                                   Bacteria "Actinobacteria" Actinobacteria Actino...     53
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      1
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      2
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      3
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      1
                                   Bacteria "Actinobacteria" Actinobacteria Actino...     99
                                   Bacteria "Actinobacteria" Actinobacteria Actino...     17
                                   Bacteria "Actinobacteria" Actinobacteria Actino...      2
...                                                                                      ...
MID9    Control 2          stool   Bacteria "Proteobacteria" Gammaproteobacteria O...     10
                                   Bacteria "Proteobacteria" Gammaproteobacteria O...      1
                                   Bacteria "Proteobacteria" Gammaproteobacteria O...      1
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...      1
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...     12
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...      4
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...    805
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...    862
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...     12
                                   Bacteria "Proteobacteria" Gammaproteobacteria P...   3534
                                   Bacteria "Proteobacteria" Gammaproteobacteria T...      4
                                   Bacteria "Proteobacteria" Gammaproteobacteria T...      1
                                   Bacteria "Proteobacteria" Gammaproteobacteria T...     25
                                   Bacteria "Proteobacteria" Gammaproteobacteria T...      2
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      3
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      2
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      1
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      3
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      2
                                   Bacteria "Proteobacteria" Gammaproteobacteria X...      1
                                   Bacteria "Synergistetes" Synergistia Synergista...      3
                                   Bacteria "Tenericutes" Mollicutes Anaeroplasmat...      1
                                   Bacteria "Tenericutes" Mollicutes Haloplasmatal...     11
                                   Bacteria "Thermodesulfobacteria" Thermodesulfob...      1
                                   Bacteria "Thermodesulfobacteria" Thermodesulfob...      1
                                   Bacteria "Thermotogae" Thermotogae Thermotogale...     43
                                   Bacteria "Thermotogae" Thermotogae Thermotogale...     16
                                   Bacteria "Verrucomicrobia" Opitutae Opitutales ...      1
                                   Bacteria Cyanobacteria Cyanobacteria  Chloropla...      1
                                   Bacteria Cyanobacteria Cyanobacteria  Chloropla...     10

[2396 rows x 1 columns]